#antioxidants-section {
    background: $c-semi-dark-blue;
    padding: 110px 0 127px 0;
    // margin-top: 192px;
    position: relative;

    @media screen and (max-width: 1200px) {
        padding: 70px 0;
    }

    @media screen and (max-width: 980px) {
        padding: 60px 0 0 0;
    }

    @media screen and (max-width: 600px) {
        padding: 50px 0 0 0;
    }

    .triangle {
        position: absolute;
        top: -80px;

        &:after {
            border-bottom: 80px solid $c-semi-dark-blue;
            border-left: 50vw solid transparent;
            border-right: 50vw solid transparent;
            width: 0;
            height: 0;
            top: 0;
            content: "";
            display: block;
            position: absolute;
            overflow: hidden;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1600px;

        @media screen and (max-width: 980px) {
            // flex-wrap: wrap;
            display: block;
        }
    }

    .title {
        color: $c-white;
        width: 70%;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 44px;
        line-height: 1.24em;

        @media screen and (max-width: 1200px) {
            font-size: 42px;
        }

        @media screen and (max-width: 980px) {
            font-size: 34px;
            width: 100%;
        }

        @media screen and (max-width: 600px) {
            font-size: 24px;
        }

        @media screen and (max-width: 475px) {
            text-align: center;
        }
    }

    .antioxidants-label {
        padding: 24px 18px 30px 44px;
        background: #ffdb01;
        font-size: 36px;
        color: #22627d;
        border-radius: 30px;
        width: 45%;
        margin-top: 30px;
        letter-spacing: 1.2px;

        @media screen and (max-width: 1200px) {
            padding: 20px 20px 20px 30px;
            font-size: 30px;
        }

        @media screen and (max-width: 980px) {
            // padding: 24px 18px 30px 44px;
            width: 100%;
            font-size: 24px;
            max-width: 400px;
            margin: 25px auto 0;
        }

        @media screen and (max-width: 768px) {
            font-size: 20px;
            padding: 15px 25px;
            border-radius: 20px;
        }
    }

    .antioxidants-list {
        width: 65%;

        @media screen and (max-width: 980px) {
            width: 100%;
        }

        &__item {
            display: flex;
            margin-top: 28px;

            &:first-child {
                margin: 0;
            }

            &--img {
                width: 75px;
                height: 75px;
                margin-right: 10px;
                margin-top: 1px;
                margin-left: -11px;

                @media screen and (max-width: 980px) {
                    width: 55px;
                    height: 55px;
                }
            }

            &--text {
                padding-top: 13px;
                color: $c-white;
                font-family: Proxima-Nova, sans-serif;
                font-size: 24px;
                line-height: 1.35em;
                font-weight: 300;
                // padding-right: 165px;
                width: 55%;
                letter-spacing: 0.7px;

                @media screen and (max-width: 1200px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 980px) {
                    font-size: 18px;
                    width: 80%;
                }

                @media screen and (max-width: 600px) {
                    font-size: 16px;
                    padding-right: 0;
                    width: 100%;
                }

                @media screen and (max-width: 475px) {
                    // text
                }
            }
        }
    }

    .antioxidants-image {
        position: absolute;
        right: 36px;
        width: 1230px;
        height: 837px;
        display: block;
        -o-object-fit: contain;
        object-fit: contain;
        bottom: 0;
        pointer-events: none;

        @media screen and (max-width: 1860px) {
            right: -246px;
        }

        @media screen and (max-width: 1600px) {
            right: -236px;
        }

        @media screen and (max-width: 1440px) {
            right: -300px;
            width: 1000px;
            height: 829px;
        }

        @media screen and (max-width: 1200px) {
            right: -210px;
            width: 800px;
            object-fit: cover;
            height: 647px;
        }

        @media screen and (max-width: 980px) {
            // position: static;
            // max-height: 300px;        
            // display: none;
            position: static;
            margin: auto;
            height: 407px;
            width: 400px;
            // display: block;
        }



        &:first-of-type {
            display: block;
            @media screen and (max-width: 980px) {
                display: none;
            }
        }

        &:last-of-type {
            display: none;

            @media screen and (max-width: 980px) {
                display: block;
                width: 439px;
                height: 323px;
                z-index: 2;
                position: relative;
                left: auto;
                right: auto;
                margin-top: -14px;
            }
            @media screen and (max-width: 480px) {
                width: 100%;
                height: auto;
            }
        }
    }

    // .antioxidants-images {
    //     width: 72%;

    //     @media screen and (max-width: 980px) {
    //         width: 100%;
    //         margin-top: 30px;
    //     }

    //     img {
    //         position: absolute;
    //         margin-top: -450px;
    //         left: 450px;
    //         width: 100%;
    //         height: 590px;
    //         display: block;

    //         @media screen and (max-width: 980px) {
    //             // position: static;
    //             // max-height: 300px;        
    //             display: none;
    //         }
    //     }
    // }

    // .antioxidants-help {
    //     color: $c-white;
    //     margin-top: 68px;
    //     font-size: 28px;
    //     font-family: Proxima-Nova, sans-serif;
    //     letter-spacing: 0.5px;

    //     @media screen and (max-width: 1200px) {
    //         font-size: 25px;
    //         margin-top: 50px;
    //     }

    //     @media screen and (max-width: 980px) {
    //         margin-top: 30px;
    //         font-size: 20px;
    //     }

    //     @media screen and (max-width: 600px) {
    //         font-size: 16px;
    //     }

    //     @media screen and (max-width: 475px) {
    //         text-align: center;
    //     }
    // }
}

#antioxidants-groups-section {
    overflow: hidden;
    padding: 150px 0 70px 0;

    @media screen and (max-width: 1200px) {
        padding: 120px 0 70px 0;
    }

    @media screen and (max-width: 980px) {
        padding: 120px 0 70px 0;
    }

    @media screen and (max-width: 600px) {
        padding: 120px 0 50px 0;
    }

    .container {
        position: relative;
    }

    .antioxidants-groups-list {
        &__item {
            // overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 600px) {
                margin-top: 35px;
            }

            &:nth-child(odd):not(:nth-child(1)) {
                @media screen and (max-width: 600px) {
                    flex-direction: column-reverse;
                }
            }

            &:first-child {
                margin: 0;
                flex-direction: initial;

                .antioxidants-groups-list__item--text-1 {
                    @media screen and (max-width: 600px) {
                        order: 2;
                    }
                }

                .antioxidants-groups-list__item--text-2 {
                    @media screen and (max-width: 600px) {
                        order: 4;
                    }
                }

                .antioxidants-groups-list__item--img-1 {
                    @media screen and (max-width: 600px) {
                        order: 1;
                    }
                }

                .antioxidants-groups-list__item--img-2 {
                    @media screen and (max-width: 600px) {
                        padding-top: 40px;
                        order: 3;
                    }
                }

                .antioxidants-groups-list__item--img {

                    @media screen and (min-width: 1201px) {
                        &-1 {
                            max-width: 546px;
                            position: absolute;
                            margin-right: 30px;
                            left: -446px;
                            margin-top: 260px;
                        }

                        &-2 {
                            max-width: 400px;
                            position: absolute;
                            right: -240px;
                            margin-top: -40px;
                            margin-left: 8px;
                        }
                    }

                    @media screen and (max-width: 1600px) and (min-width: 1201px) {
                        &-1 {
                            left: -200px;
                            max-width: 440px;
                        }

                        &-2 {
                            max-width: 300px;
                            right: -60px;
                        }
                    }

                    @media screen and (max-width: 600px) {
                        position: static !important;
                        margin: 0 auto 0 !important;
                        max-width: 300px;
                    }
                }

                .antioxidants-groups-list__item--text {
                    align-self: flex-start;
                    width: 92%;

                    @media screen and (max-width: 1200px) {
                        align-self: center;
                    }

                    &-2 {
                        width: 47%;
                        margin-top: -5px;
                    }

                    @media screen and (max-width: 600px) {
                        width: 100%;
                    }
                }
            }

            .info-block+.antioxidants-groups-list__item {
                margin: 0;
            }

            &--title {
                color: $c-light-blue;
                font-size: 50px;
                margin-bottom: 45px;
                font-weight: 400;
                width: 90%;
                letter-spacing: 1px;
                position: relative;
                z-index: 1;

                @media screen and (max-width: 1200px) {
                    font-size: 42px;
                }

                @media screen and (max-width: 980px) {
                    font-size: 38px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 30px;
                    text-align: center;
                }

                @media screen and (max-width: 480px) {
                    font-size: 24px;
                }
            }

            &--text {
                color: $c-dark-blue;
                font-family: "Proxima-Nova";
                width: 50%;
                font-size: 24px;
                line-height: 1.35em;
                letter-spacing: 0.7px;
                padding-right: 12px;
                position: relative;
                z-index: 1;

                @media screen and (max-width: 1200px) {
                    font-size: 20px;
                    padding-right: 0;
                }

                @media screen and (max-width: 980px) {
                    font-size: 18px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 16px;
                    width: 100%;
                    text-align: center;
                }

                // @media screen and (max-width: 480px) {
                //     text-align: center;
                // }

                align-self: center;

                &-2 {
                    padding-right: 0;
                }

                a {
                    color: inherit;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    padding-top: 14px;
                    letter-spacing: 0.5px;

                    @media screen and (max-width: 600px) {
                        padding-top: 8px;
                    }

                    &:first-child {
                        padding-top: 0;
                    }

                    sup {
                        line-height: 0;
                    }
                }

                h3 {
                    color: $c-light-blue;
                    font-size: 38px;
                    letter-spacing: 1px;
                    margin-bottom: 15px;
                    font-weight: 400;

                    @media screen and (max-width: 1200px) {
                        font-size: 32px;
                    }

                    @media screen and (max-width: 980px) {
                        font-size: 26px;
                    }

                    @media screen and (max-width: 600px) {
                        font-size: 20px;
                        margin-top: 15px;
                        margin-bottom: 10px;
                    }
                }
            }

            &--img {
                width: calc(50% - 41px);
                font-size: 0;

                @media screen and (max-width: 600px) {
                    width: 100%;
                    height: auto !important;
                    margin: 0 !important;
                }

                // position: relative;
                img {
                    display: block;
                    margin: auto;
                    width: 100%;

                    @media screen and (max-width: 600px) {
                        max-width: 300px;
                        position: static !important;
                    }

                    &.tomato {
                        max-width: 470px;

                        @media screen and (max-width: 600px) {
                            max-width: 260px;
                        }
                    }
                }

                &-3 {
                    @media screen and (min-width: 1201px) {
                        height: 400px;
                        position: relative;
                        margin-right: 0px;
                        margin-top: 16px;
                        margin-left: 8px;

                        img {
                            position: absolute;
                            width: 100%;
                            left: -60px;
                            top: -24px;
                        }
                    }
                }
            }
        }
    }

    .info-block {
        background: $c-light-blue;
        color: $c-white;
        font-family: "Proxima-Nova";
        font-size: 33px;
        line-height: 1.2em;
        border-radius: 24px;
        margin-top: 58px;
        margin-bottom: 106px;
        letter-spacing: 0.1px;
        font-weight: 400;
        padding: 32px 182px 43px 45px;

        &+.antioxidants-groups-list__item--title {
            margin-bottom: 7px;
        }

        @media screen and (max-width: 1200px) {
            font-size: 25px;
            margin: 80px 0;
        }

        @media screen and (max-width: 980px) {
            font-size: 20px;
            margin: 60px 0;
        }

        @media screen and (max-width: 600px) {
            font-size: 18px;
            padding: 25px 35px;
        }
    }
}