@font-face {
  font-family: "Panton"; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
          // url('fonts/Rubik-Light.woff') format('woff'), 
          /* Pretty Modern Browsers */ url("../fonts/Panton-Regular.otf")
    format("truetype");
  /* Safari, Android, iOS */
  // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  // font-weight: 500;
}

@font-face {
  font-family: "Panton"; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
            // url('fonts/Rubik-Light.woff') format('woff'), 
            /* Pretty Modern Browsers */ url("../fonts/Panton-SemiBold.otf")
    format("truetype");
  /* Safari, Android, iOS */
  // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 500;
}

@font-face {
  font-family: "Panton"; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
            // url('fonts/Rubik-Light.woff') format('woff'), 
            /* Pretty Modern Browsers */ url("../fonts/Panton-Bold.otf")
    format("truetype");
  /* Safari, Android, iOS */
  // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 600;
}

@font-face {
  font-family: "RotondaB"; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
          // url('fonts/Rubik-Light.woff') format('woff'), 
          /* Pretty Modern Browsers */ url("../fonts/RotondaC-Bold.ttf")
    format("truetype");
  /* Safari, Android, iOS */
  // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  // font-weight: 500;
}

@font-face {
  font-family: "Proxima-Nova"; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
          // url('fonts/Rubik-Light.woff') format('woff'), 
          /* Pretty Modern Browsers */ url("../fonts/Proxima Nova Bold.otf")
    format("truetype");
  /* Safari, Android, iOS */
  // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 600;
}

@font-face {
  font-family: "Proxima-Nova"; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
          // url('fonts/Rubik-Light.woff') format('woff'), 
          /* Pretty Modern Browsers */ url("../fonts/Proxima Nova Semibold.otf")
    format("truetype");
  /* Safari, Android, iOS */
  // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 500;
}

@font-face {
  font-family: "Proxima-Nova"; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
          // url('fonts/Rubik-Light.woff') format('woff'), 
          /* Pretty Modern Browsers */ url("../fonts/Proxima Nova Regular.otf")
    format("truetype");
  /* Safari, Android, iOS */
  // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  // font-weight: 500;
}
@font-face {
  font-family: "Proxima-Nova"; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
          // url('fonts/Rubik-Light.woff') format('woff'), 
          /* Pretty Modern Browsers */ url("../fonts/Proxima Nova Light.otf")
    format("truetype");
  /* Safari, Android, iOS */
  // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 300;
}

@font-face {
  font-family: "Proxima-Nova"; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
  src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
          // url('fonts/Rubik-Light.woff') format('woff'), 
          /* Pretty Modern Browsers */ url("../fonts/Proxima Nova Thin.otf")
    format("truetype");
  /* Safari, Android, iOS */
  // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 100;
}
