#free-radicals-section {
    background: #f4f4f4;
    padding-top: 0px;
    padding-bottom: 192px;

    @media screen and (max-width: 1200px) {
        padding: 0px 0 150px 0px;
    }

    @media screen and (max-width: 600px) {
        padding: 0px 0 150px 0px;
    }

    @media screen and (max-width: 480px) {
        padding: 0px 0 150px 0px;
    }

    .free-radicals__intro {
        // background: $c-light-blue url(../img/woman-bg.png);
        background: url(../img/woman-bg.png);
        background-position: center;
        background-size: cover;
        height: 700px;
        position: relative;
        background-clip: content-box;

        @media screen and (max-width: 1200px) {
            height: auto;
        }

          @media screen and (max-width: 980px) {
            background: #6697d3;
          }

        .container {
            display: flex;
            justify-content: flex-end;
            position: relative;
            // padding: 146px 40px;
            // padding-top: 146px;
            // padding-bottom: 146px;
            align-items: center;
            height: 100%;

            @media screen and (max-width: 1200px) {
                padding-top: 100px;
                padding-bottom: 100px;
            }
            @media screen and (max-width: 980px) {
                    padding-top: 70px;
                    padding-bottom: 70px;
            }
            @media screen and (max-width: 600px) {
                padding-top: 70px;
                padding-bottom: 70px;
            }

            @media screen and (max-width: 480px) {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }

        // &_img {
        //     display: none;
        //     background: url(../img/woman.png);
        //     background-size: cover;
        //     width: 100%;
        //     height: 714px;
        //     position: absolute;
        //     left: 8px;
        //     top: -90px;
        //     background-position: 50%;
        //     z-index: 99;

        //     @media screen and (max-width: 980px) {
        //         display: none;
        //     }
        // }

        &_info {
            width: 52%;
            padding-top: 30px;
            @media screen and (max-width: 980px) {
                width: 100%;
                padding-top: 0;
            }

            &--title {
                font-size: 50px;
                color: $c-white;
                letter-spacing: 1px;

                @media screen and (max-width: 1200px) {
                    font-size: 42px;
                }

                @media screen and (max-width: 980px) {
                    // margin-top: 38px;
                }   

                @media screen and (max-width: 600px) {
                    font-size: 32px;
                }

                @media screen and (max-width: 475px) {
                    font-size: 26px;
                    text-align: center;
                }
            }

            p {
                margin-top: 55px;
                color: $c-white;
                font-size: 26px;
                line-height: 1.3em;
                font-weight: 300;
                font-family: Proxima-Nova, sans-serif;
                letter-spacing: 0.8px;

                @media screen and (max-width: 1200px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 980px) {
                    margin-top: 18px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 16px;
                }

                @media screen and (max-width: 475px) {
                    text-align: center;
                }

            }
        }
    }

    .free-radicals__details {
        margin-top: 113px;

        @media screen and (max-width: 1200px) {
            margin-top: 90px;
        }

        @media screen and (max-width: 980px) {
            margin-top: 70px;
        }

        @media screen and (max-width: 600px) {
            margin-top: 50px;
        }

        &_item {
            margin-top: 49px;

            &:first-child {
                margin: 0;
            }

            &--title {
                font-size: 50px;
                letter-spacing: 1px;
                font-weight: 500;
                color: $c-light-blue;

                @media screen and (max-width: 1200px) {
                    font-size: 42px;
                }

                @media screen and (max-width: 980px) {
                    font-size: 38px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 24px;
                }

                @media screen and (max-width: 475px) {
                    font-size: 24px;
                }
            }

            &--text {
                font-size: 14px;
                color: $c-dark-blue;
                margin-top: 17px;
                font-size: 24px;
                line-height: 1.3em;
                font-weight: 400;
                font-family: Proxima-Nova, sans-serif;
                letter-spacing: 0.5px;
                padding-right: 97px;
                &.big {
                    font-size: 30px;
                    @media screen and (max-width: 1200px) {
                        font-size: 24px;
                    }

                    @media screen and (max-width: 980px) {
                        font-size: 22px;
                    }

                    @media screen and (max-width: 600px) {
                        font-size: 20px;
                    }
                }

                @media screen and (max-width: 1200px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 980px) {
                    font-size: 18px;

                }

                @media screen and (max-width: 600px) {
                    padding-right: 0;
                    font-size: 16px;
                }
            }
        }
    }

    .free-radicals__images {
        display: flex;
        //   flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 68px;
        padding-right: 12px;

        @media screen and (max-width: 980px) {
            padding-right: 0;
        }

        &_item {
            width: calc(50% - 43px);
            padding: 38px 20px 24px 29px;
            border: 4px solid $c-light-blue;
            border-radius: 30px;
            margin-bottom: 80px;
            position: relative;

            // height: 266px;
            @media screen and (max-width: 980px) {
                width: 100%;
                padding: 24px!important;
            }


            &:nth-child(1) {
                .free-radicals__images_item--image {
                    width: 59%;
                }

                &:after,
                &:before {
                    left: 100%;
                    top: 50%;
                }

                &:after {
                    border-color: rgba(255, 255, 255, 0);
                    border-left-color: #f4f4f4;
                    border-width: 50px;
                    margin-top: -50px;
                }

                &:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-left-color: $c-light-blue;
                    border-width: 56px;
                    margin-top: -56px;
                }
            }

            &:nth-child(2) {
                padding: 27px 20px 38px 19px;

                .free-radicals__images_item--image {
                    width: 60%;
                }

                .free-radicals__images_item--text {
                    margin-top: 13px;
                }

                &:after,
                &:before {
                    top: 100%;
                    left: 50%;
                }

                &:after {
                    border-color: rgba(255, 255, 255, 0);
                    border-top-color: #f4f4f4;
                    border-width: 50px;
                    margin-left: -50px;
                }

                &:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-top-color: $c-light-blue;
                    border-width: 56px;
                    margin-left: -56px;
                }
            }

            &:nth-child(3) {
                padding: 25px 20px 22px 29px;

                .free-radicals__images_item--image {
                    width: 74%;
                    height: 87px;
                }

                .free-radicals__images_item--text {
                    margin-top: 9px;
                }

                &:after,
                &:before {
                    bottom: 100%;
                    left: 50%;
                }

                &:after {
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #f4f4f4;
                    border-width: 50px;
                    margin-left: -50px;
                }

                &:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-bottom-color: $c-light-blue;
                    border-width: 56px;
                    margin-left: -56px;
                }
            }

            &:nth-child(4) {
                padding: 29px 54px 22px 48px;

                .free-radicals__images_item--image {
                    width: 69%;
                    height: 84px;
                }

                .free-radicals__images_item--text {
                    margin-top: 9px;
                }

                &:after,
                &:before {
                    right: 100%;
                    top: 50%;
                }

                &:after {
                    border-color: rgba(255, 255, 255, 0);
                    border-right-color: #f4f4f4;
                    border-width: 50px;
                    margin-top: -50px;
                }

                &:before {
                    border-color: rgba(194, 225, 245, 0);
                    border-right-color: $c-light-blue;
                    border-width: 56px;
                    margin-top: -56px;
                }
            }

            &:after,
            &:before {
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &--image {
                width: 65%;
                height: 104px;

                @media screen and (max-width: 980px) {
                    height: auto !important;
                    width: 100%!important;
                }

                img {
                    width: 100%;
                    max-width: 350px;

                    @media screen and (max-width: 980px) {
                        margin: auto;
                        display: block;
                    }
                }
            }

            &--text {
                color: $c-dark-blue;
                font-family: "Proxima-Nova", sans-serif;
                font-size: 24px;
                line-height: 1.3em;
                font-weight: 400;
                letter-spacing: 0.5px;

                @media screen and (max-width: 1200px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 980px) {
                    font-size: 18px;
                    margin-top: 20px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 16px;
                }

                // @media screen and (max-width: 475px) {
                //     font-size: 24px;
                // }
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                @media screen and (max-width: 980px) {

                    &:after,
                    &:before {
                        top: 100%;
                        left: 50%;
                        margin-top: 0;
                    }

                    &:after {
                        border-color: rgba(255, 255, 255, 0);
                        border-top-color: #f4f4f4;
                        border-width: 50px;
                        margin-left: -50px;
                    }

                    &:before {
                        border-color: rgba(194, 225, 245, 0);
                        border-top-color: $c-light-blue;
                        border-width: 56px;
                        margin-left: -56px;
                    }
                }
            }
        }
    }

    .info-block {
        background: $c-light-blue;
        color: $c-white;
        font-size: 33px;
        line-height: 1.3em;
        border-radius: 24px;
        margin-top: 17px;
        font-family: Proxima-Nova, sans-serif;
        letter-spacing: 0.1px;
        padding: 41px 35px 35px 45px;

        @media screen and (max-width: 1200px) {
            font-size: 25px;
        }

        @media screen and (max-width: 980px) {
            font-size: 20px;
        }

        @media screen and (max-width: 600px) {
            font-size: 18px;
            padding: 25px 35px;
        }
    }
}