#free-radicals-section {
    background: url(../img/tired.jpg);
    background-position: 20%;
    background-size: cover;
    padding: 88px 0;

    @media screen and (max-width: 1200px) {
        padding: 0px 0 150px 0px;
    }

    @media screen and (max-width: 600px) {
        padding: 0px 0 150px 0px;
    }

    @media screen and (max-width: 480px) {
        padding: 0px 0 150px 0px;
    }

    .container {
        display: flex;
        justify-content: flex-end;
        max-width: 1550px;
        padding: 0 20px;

        &>div {
            width: 41.5%;
        }
    }

    .title {
        color: $c-semi-dark-blue;
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 1px;
        display: inline-flex;

        @media screen and (max-width: 1200px) {
            font-size: 42px;
        }

        @media screen and (max-width: 980px) {
            font-size: 38px;
        }

        @media screen and (max-width: 600px) {
            font-size: 30px;
        }
    }

    ul {
        margin-top: 37px;

        li {
            font-size: 24px;
            font-weight: 400;
            color: $c-semi-dark-blue;
            display: flex;
            align-items: flex-start;
            letter-spacing: 0.7px;

            img {
                width: 45px;
                margin-right: 16px;
                margin-top: -5px;
            }

            &+li {
                margin-top: 32px;
            }
        }
    }

    .info-block {
        background: $c-semi-dark-blue;
        color: $c-white;
        font-size: 24px;
        line-height: 1.2em;
        border-radius: 24px;
        margin-top: 48px;
        font-family: Proxima-Nova, sans-serif;
        letter-spacing: .1px;
        padding: 24px 26px 27px 33px;
        letter-spacing: 0.5px;

        @media screen and (max-width: 1200px) {
            font-size: 25px;
        }

        @media screen and (max-width: 980px) {
            font-size: 20px;
        }

        @media screen and (max-width: 600px) {
            font-size: 18px;
            padding: 25px 35px;
        }
    }
}