#how-to-slow-section {
    background: url(../img/main-bg.jpg) no-repeat;
    background-size: cover;
    background-position: 100%;
    padding: 92px 0px 0px 0px;
    height: calc(100vh - 188px);

    @media screen and (max-height: 890px) {
        padding: 50px 0px 0px 0px;
    }

    @media screen and (max-height: 850px) {
        padding: 30px 0px 0px 0px;
    }


    @media screen and (max-width: 1200px) {
        background-position: 70%;
    }

    @media screen and (max-width: 980px) {
        height: calc(100vh - 120px);
        padding: 30px 0;
        display: flex;
        align-items: center;
        // background-position: 50%;
    }

    @media screen and (max-width: 600px) {
        height: calc(100vh - 90px);
        padding: 20px 0;
    }

    @media screen and (max-width: 480px) {
        height: calc(100vh - 70px);
    }

    .container {
        max-width: 1600px;
        position: relative;
        height: 100%;
    }

    .title {
        color: $c-white;
        font-size: 80px;
        line-height: 1.1em;
        letter-spacing: 1px;
        font-weight: 500;

        @media screen and (max-width: 1200px) {
            font-size: 72px;
        }

        @media screen and (max-width: 980px) {
            font-size: 62px;
            line-height: 1em;
        }

        @media screen and (max-width: 768px) {
            font-size: 54px;
        }

        @media screen and (max-width: 600px) {
            font-size: 48px;
            text-align: center;
        }

        @media screen and (max-width: 480px) {
            font-size: 42px;
        }
    }

    p {
        color: #d8e1f2;
        font-size: 30px;
        width: 780px;
        margin-top: 10px;

        @media screen and (max-width: 980px) {
            font-size: 24px;
            width: 100%;
            text-align: center;
            color: #d8e1f2;
        }
    }

    img {
        max-width: 677px;
        width: 100%;
        position: absolute;
        left: -112px;
        margin-top: 74px;
        bottom: 0;

        @media screen and (max-height: 890px) {
            max-width: 550px;
            left: -90px;
        }

        @media screen and (max-height: 820px) {
            max-width: 500px;
            left: -70px;
        }

        @media screen and (max-height: 780px) {
            max-width: 400px;
            left: -50px;
        }
    }
}