#lazy-section {
    background: #f3f3f3;
    padding: 80px 0 131px;

    @media screen and (max-width: 1200px) {
        padding: 60px 0 100px;
    }

    @media screen and (max-width: 768px) {
        padding: 40px 0 60px;
    }

    .container {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }

    .title {
        color: $c-semi-dark-blue;
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 1px;
        display: inline-flex;

        @media screen and (max-width: 1440px) {
            font-size: 44px;
        }

        @media screen and (max-width: 1200px) {
            width: 100%;
            font-size: 42px;
        }

        @media screen and (max-width: 980px) {
            font-size: 38px;
        }

        @media screen and (max-width: 600px) {
            font-size: 30px;
        }
    }

    .label {
        color: $c-semi-dark-blue;
        font-size: 38px;
        font-weight: 400;
        border: 2px solid #43a1de;
        padding: 7px 40px;
        letter-spacing: 1.3px;
        display: inline-flex;
        border-radius: 40px;

        @media screen and (max-width: 1440px) {
            padding: 7px 23px;
        }

        @media screen and (max-width: 1200px) {
            font-size: 30px;
            margin-top: 20px;
        }

        @media screen and (max-width: 980px) {
            font-size: 26px;
        }

        @media screen and (max-width: 600px) {
            font-size: 22px;
        }
    }

    .test-block {
        margin-top: 34px;
        width: 100%;
        border-radius: 30px;
        // border: 1px solid;
        overflow: hidden;
        box-shadow: 0 0 70px -5px #ccc;

        @media screen and (max-width: 600px) {
            border-radius: 20px;
        }

        img {
            width: 100%;
            max-width: 417px;

            @media screen and (max-width: 1200px) {
                max-width: 350px;
            }

            @media screen and (max-width: 980px) {
                max-width: 300px;
            }

            @media screen and (max-width: 768px) {
                display: block;
                margin: auto;
            }

            @media screen and (max-width: 600px) {
                max-width: 250px;
            }
        }

        &__header {
            background: #22627d;
            padding: 28px 178px 28px 58px;
            color: #fff;
            font-size: 38px;
            line-height: 1.1em;
            letter-spacing: 1.4px;


            @media screen and (max-width: 1200px) {
                font-size: 32px;
                padding: 28px 130px 28px 38px;
            }

            @media screen and (max-width: 980px) {
                font-size: 28px;
                padding: 20px 100px 20px 30px;
            }

            @media screen and (max-width: 600px) {
                font-size: 22px;
                padding: 20px 30px 20px 30px;
            }

            @media screen and (max-width: 480px) {
                font-size: 18px;
            }
        }

        &__content {
            padding: 39px 62px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 1200px) {
                padding: 30px 40px;
            }

            @media screen and (max-width: 980px) {
                padding: 30px 35px;
            }

            @media screen and (max-width: 768px) {
                display: block;
            }

            @media screen and (max-width: 600px) {
                padding: 30px 30px;
            }

            &.result {
                img {
                    max-width: 330px;

                    @media screen and (max-width: 1200px) {
                        max-width: 300px;
                    }

                    @media screen and (max-width: 980px) {
                        max-width: 240px;
                    }

                    @media screen and (max-width: 600px) {
                        max-width: 220px;
                    }

                    @media screen and (max-width: 480px) {
                        max-width: 180px;
                    }
                }

                &>div {
                    width: 60%;

                    @media screen and (max-width: 980px) {
                        width: 55%;
                    }

                    @media screen and (max-width: 768px) {
                        width: 100%;
                        margin: 20px auto 0;
                        text-align: center;
                    }
                }
            }

            &>div {
                width: 48%;
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 20px;

                @media screen and (max-width: 768px) {
                    margin: 30px auto 0;
                    width: 55%;
                }

                @media screen and (max-width: 600px) {
                    width: 75%;
                }

                @media screen and (max-width: 480px) {
                    width: 100%;
                    padding: 0;
                }
            }
        }

        &__result {
            color: $c-semi-dark-blue;
            font-size: 24px;
            line-height: 1.5em;
            padding-right: 50px;

            @media screen and (max-width: 1200px) {
                font-size: 22px;
            }

            @media screen and (max-width: 980px) {
                font-size: 20px;
            }

            @media screen and (max-width: 768px) {
                font-size: 18px;
                padding: 0;
            }

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }
        }

        .radio {
            width: 100%;
            display: flex;
            font-size: 24px;
            letter-spacing: 0.6px;
            cursor: pointer;
            color: $c-semi-dark-blue;

            @media screen and (max-width: 1200px) {
                font-size: 22px;
            }

            @media screen and (max-width: 980px) {
                font-size: 18px;
            }

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }

            &+.radio {
                margin-top: 36px;

                @media screen and (max-width: 980px) {
                    margin-top: 25px;
                }
            }

            input {
                display: none;

                &:checked+.radio--icon {
                    &:after {
                        display: block;
                    }
                }
            }

            &--icon {
                border-radius: 100%;
                width: 30px;
                height: 30px;
                min-width: 30px;
                min-height: 30px;
                border: 3px solid $c-semi-dark-blue;
                display: block;
                margin-right: 17px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: 980px) {
                    width: 20px;
                    height: 20px;
                    min-width: 20px;
                    min-height: 20px;
                    border: 2px solid $c-semi-dark-blue;
                }

                &:after {
                    content: '';
                    display: none;
                    width: 12px;
                    min-width: 12px;
                    height: 12px;
                    min-height: 12px;
                    background: $c-semi-dark-blue;
                    border-radius: 100%;

                    @media screen and (max-width: 980px) {
                        width: 9px;
                        height: 9px;
                        min-width: 9px;
                        min-height: 9px;
                    }
                }
            }
        }
    }

    .tiredness__list {
        margin-top: 97px;

        .title {
            color: $c-blue;
        }

        &_item {
            display: flex;
            align-items: center;
            margin-top: 52px;

            @media screen and (max-width: 600px) {
                flex-wrap: wrap;
            }

            // flex-wrap: wrap; 
            &>div {
                width: 100%;
            }

            img {
                max-width: 120px;
                margin-right: 34px;
                position: relative;
                top: 5px;

                @media screen and (max-width: 980px) {
                    max-width: 100px;
                }

                @media screen and (max-width: 600px) {
                    margin: 0 auto 20px;
                    max-width: 90px;
                }
            }

            h3 {
                width: 100%;
                font-size: 38px;
                color: $c-blue;
                letter-spacing: 1.3px;
                font-weight: 400;

                @media screen and (max-width: 1200px) {
                    font-size: 32px;
                }

                @media screen and (max-width: 980px) {
                    font-size: 28px;
                }

                @media screen and (max-width: 768px) {
                    font-size: 24px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 20px;
                    text-align: center;
                }
            }

            p {
                width: 100%;
                color: $c-dark-blue;
                font-size: 24px;
                line-height: 1.3em;
                margin-top: 6px;
                letter-spacing: 0.6px;
                width: 85%;

                @media screen and (max-width: 1200px) {
                    font-size: 22px;
                }

                @media screen and (max-width: 980px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 768px) {
                    font-size: 18px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 16px;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}