.main-wrapper.opened {
  filter: blur(5px);
}
.modal {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &.opened {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }
  &-close {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 22px;
    top: 39px;
    background: url(../img/close.png);
    background-size: cover;
    cursor: pointer;
    @media screen and (max-width: 600px) {
      width: 25px;
      height: 25px;
      right: 18px;
      top: 30px;
    }
  }
  &[data-id="pharmacy"] {
    .modal-body {
      max-width: 1172px;
      padding: 81px 89px 81px 109px;
      @media screen and (max-width: 1200px) {
        padding: 60px;
      }
      @media screen and (max-width: 980px) {
        padding: 50px;
      }
      @media screen and (max-width: 600px) {
        padding: 40px;
      }
      @media screen and (max-width: 480px) {
        padding: 25px;
        margin: 0;
        max-height: 100%;
        border-radius: 0;
      }
    }
  }
  &[data-id="question"],
  &[data-id="feedback"] {
    .modal-body {
      max-width: 905px;
      padding: 79px 172px 83px 182px;
      @media screen and (max-width: 1200px) {
        padding: 50px 120px 50px 120px;
      }
      @media screen and (max-width: 980px) {
        padding: 50px 100px 50px 100px;
      }
      @media screen and (max-width: 600px) {
        padding: 50px 50px 50px 50px;
      }
      @media screen and (max-width: 480px) {
        padding: 50px 40px 50px 40px;
        margin: 0;
        max-height: 100%;
        border-radius: 0;
      }
      h2 {
        font-size: 50px;
        @media screen and (max-width: 1200px) {
          font-size: 32px;
        }
        @media screen and (max-width: 980px) {
          font-size: 28px;
        }
        @media screen and (max-width: 600px) {
          font-size: 24px;
        }
        @media screen and (max-width: 480px) {
          font-size: 20px;
        }
      }
    }
  }
  &-body {
    min-width: 280px;
    min-height: 100px;
    position: relative;
    margin: 0 25px;
    padding: 60px 100px;
    background: #f4f4f4;
    overflow: auto;
    max-height: 90%;
    border-radius: 24px;
    box-shadow: 0 0 50px -15px #000;
  }

  h2 {
    color: #22627c;
    font-size: 38px;
    font-weight: 500;
    margin-top: 45px;
    letter-spacing: 0.7px;
    padding-right: 25px;
    @media screen and (max-width: 1200px) {
      font-size: 32px;
    }
    @media screen and (max-width: 980px) {
      font-size: 28px;
    }
    @media screen and (max-width: 600px) {
      font-size: 24px;
    }
    @media screen and (max-width: 480px) {
      font-size: 20px;
    }
    &:first-of-type {
      margin-top: 0;
    }
  }
  .pharmacy-list {
    margin-top: 28px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    &__item {
      width: calc(25% - 17px);
      background: #fff;
      border-radius: 16px;
      padding: 15px 10px;
      margin-bottom: 20px;
      text-align: center;
      transition: 0.2s;
      height: 90px;
      position: relative;
      @media screen and (max-width: 800px) {
        width: calc(50% - 17px);
      }
      @media screen and (max-width: 600px) {
        width: calc(50% - 10px);
      }

      @media screen and (max-width: 480px) {
        width: calc(50% - 6px);
        padding: 15px 7px;
      }
      &:hover {
        box-shadow: 0 0 30px -10px #000;
      }

      img {
        max-width: 70px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        @media screen and (max-width: 980px) {
          padding: 0 15px;
        }
        @media screen and (max-width: 800px) {
          padding: 0 0;
          // max-width: 60px;
        }
      }
      span {
        margin-top: 40px;
        display: block;
        width: 100%;
        color: #22627c;
        font-size: 20px;
        font-family: "Proxima-Nova", sans-serif;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        @media screen and (max-width: 980px) {
          font-size: 18px;
        }
        @media screen and (max-width: 600px) {
          font-size: 16px;
        }
        @media screen and (max-width: 480px) {
          font-size: 14px;
        }
      }
    }
  }

  form {
    margin: 42px 0 0 0;
    input[type="text"],
    input[type="email"],
    textarea {
      margin-bottom: 25px;
      border: none;
      outline: none;
      width: 100%;
      border-radius: 10px;
      color: #22627c;
      font-size: 24px;
      padding: 25px 25px;
      background: #e2e5e7;
      resize: none;
      height: 71px;
      letter-spacing: 0.6px;
      font-family: "Proxima-Nova", sans-serif;
      @media screen and (max-width: 1200px) {
        font-size: 22px;
        padding: 22px 22px;
        height: 65px;
      }
      @media screen and (max-width: 980px) {
        font-size: 20px;
        padding: 20px 20px;
        height: 62px;
      }
      @media screen and (max-width: 600px) {
        font-size: 18px;
        padding: 18px 18px;
        height: 50px;
        margin-bottom: 15px;
      }
      @media screen and (max-width: 480px) {
        font-size: 16px;
        padding: 16px 16px;
        height: 45px;
      }
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #22627c;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: #22627c;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: #22627c;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: #22627c;
      }
    }
    textarea {
      height: 196px;
      margin-bottom: 10px;
      padding-top: 18px;
      @media screen and (max-width: 600px) {
        height: 150px;
      }
    }
    .checkbox {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      input {
        display: none;
        &:checked + i {
          background: #22627c;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: -3px;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 7px;
            height: 12px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            @media screen and (max-width: 980px) {
              width: 4px;
              height: 8px;
            }
          }
        }
      }
      span {
        color: #22627c;
        font-size: 20px;
        font-family: "Proxima-Nova", sans-serif;
        @media screen and (max-width: 1200px) {
          font-size: 20px;
        }
        @media screen and (max-width: 980px) {
          font-size: 18px;
        }
        @media screen and (max-width: 600px) {
          font-size: 16px;
        }
        @media screen and (max-width: 480px) {
          font-size: 14px;
        }
      }
      i {
        border-radius: 5px;
        display: block;
        width: 28px;
        min-width: 28px;
        min-height: 28px;
        height: 28px;
        margin-right: 15px;
        background: #e2e5e7;
        transition: 0.2s;
        @media screen and (max-width: 980px) {
          width: 20px;
          min-width: 20px;
          min-height: 20px;
          height: 20px;
        }
      }
    }
    .annotation {
      color: #bababa;
      font-size: 20px;
      font-family: "Proxima-Nova", sans-serif;
      letter-spacing: 0.1px;
      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }
      @media screen and (max-width: 980px) {
        font-size: 18px;
      }
      @media screen and (max-width: 600px) {
        font-size: 16px;
      }
      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }
    .g-recaptcha {
      margin: auto;
      width: 100%;
      margin: 40px 0;
    }
    .btn {
      width: 279px;
      margin: 48px auto 0;
      border-radius: 14px;
      background: #22627c;
      border: none;
      padding: 18px 0;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      @media screen and (max-width: 1200px) {
        
      }
      @media screen and (max-width: 980px) {
        font-size: 18px;
        padding: 14px 0;
      }
      @media screen and (max-width: 600px) {
        font-size: 16px;
        padding: 12px 0;
      }
      @media screen and (max-width: 480px) {
        font-size: 14px;
        padding: 9px 0;
        width: 100%;
      }
      img {
        width: 55px;
        margin-right: 20px;
        @media screen and (max-width: 980px) {
          width: 48px;
        }
        @media screen and (max-width: 600px) {
          width: 42px;
        }
      }
    }
  }
}
